[submodule "test3"]
	path = test3
	url = git@github.com:apfeifer27/test3.git
[submodule "ai-gateway-helm-chart"]
	path = ai-gateway-helm-chart
	url = https://gitlab.com/gitlab-org/charts/ai-gateway-helm-chart.git
